{% extends 'main/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          {% block content %}

          {% endblock %}
        </div><!-- column end -->
    </div> <!-- row end -->
</div> <!-- container end -->

</div>
{% endblock %}
